---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <p>
    This is the landing page for the ToothFairy challenges:
  </p>

  <div class="clearfix">
    {% if page.profile %}
    <article>
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2023/en/">
          {% include figure.html
          path=profile_image_path
          class=profile_image_class
          alt=page.profile.image -%}
        </a>
        {% endif -%}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2023/">ToothFairy: A Cone-Beam Computed Tomography
          Segmentation Challenge</a>. This joint event at MICCAI 2023 presents two advanced challenges in dental image
        segmentation: ToothFairy, which focuses on cone-beam computed tomography (CBCT) segmentation, and the
        Semi-supervised Teeth Segmentation (STS) challenge with two tracks—STS-2D for X-ray images and STS-3D for CBCT
        volumes. The event includes in-depth sessions covering maxillofacial image segmentation techniques, results
        announcements, and insights from both challenges. Scheduled for October 8th in Vancouver, this event is a
        must-attend for professionals in medical imaging and AI.
      </p>

    </article>
    {% endif %}

    {% if page.profile2 %}
    <article>
      <div class="profile float-{%- if page.profile2.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile2.image %}
        {%- assign profile2_image_path = page.profile2.image | prepend: 'assets/img/' -%}

        {% if page.profile2.image_circular %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2024/en/">
          {% include figure.html
          path=profile2_image_path
          class=profile2_image_class
          alt=page.profile2.image -%}
        </a>
        {% endif -%}
        {%- if page.profile2.address %}
        <div class="address">
          {{ page.profile2.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2024/">Supervised and Semi-supervised Multi-Structure
          Segmentation and Landmark Detection in Dental Data</a>. A joint event at MICCAI 2024 featuring three dental
        data challenges: ToothFairy2 for multi-structure segmentation in CBCT volumes, 3DTeethLand24 for 3D teeth
        landmark detection, and a semi-supervised teeth segmentation challenge. <br>
        This half-day event will offer an introduction to maxillofacial image segmentation and landmark detection,
        followed by individual sessions highlighting the results of each challenge. The event will take place on October
        6th in Marrakesh, Morocco, offering key insights into cutting-edge dental AI techniques.
      </p>

    </article>
    {% endif %}
    {% if page.profile3 %}
    <article>
      <div class="profile float-{%- if page.profile3.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile3.image %}
        {%- assign profile3_image_path = page.profile3.image | prepend: 'assets/img/' -%}

        {% if page.profile3.image_circular %}
        {%- assign profile3_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile3_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://cvpr.thecvf.com/Conferences/2025">
          {% include figure.html
          path=profile3_image_path
          class=profile3_image_class
          alt=page.profile3.image -%}
        </a>
        {% endif -%}
        {%- if page.profile3.address %}
        <div class="address">
          {{ page.profile3.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/cvpr2025/">Multi-Structure and Multi-Modal Learning for 3D
          Dental Image Analysis</a>. The ToothFairy3 Workshop, a CVPR 2025 event, focuses on the latest challenges and
        advancements in 3D dental image analysis, specifically targeting techniques for CBCT and IOS modalities. The
        event brings together researchers, industry
        professionals, and practitioners to explore innovative solutions in areas like image registration, instance
        segmentation, and landmark detection. With a strong emphasis on collaborative insights, the workshop promotes
        discussion
        on performance evaluation and cutting-edge methodologies in dental imaging, featuring talks, challenges, and
        opportunities for networking.
      </p>

    </article>
    {% endif %}
  </div>
</div>