---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <p>
    This is the landing page of the ToothFairy challenge:
  </p>

  <div class="clearfix">
    {% if page.profile %}
    <article>
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2023/en/">
          {% include figure.html
          path=profile_image_path
          class=profile_image_class
          alt=page.profile.image -%}
        </a>
        {% endif -%}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2023/">ToothFairy: A Cone-Beam Computed Tomography Segmentation Challenge</a>. The ToothFairy Challenge, initiated by the University of Modena and Reggio Emilia (UNIMORE) in collaboration with Radboud University Medical Center, focuses on the segmentation of the Inferior Alveolar Canal from CBCT scans of dental images. The challenge aims to foster the development of innovative AI-driven solutions for dental imaging analysis, encouraging international collaboration among academic institutions, healthcare professionals, and researchers. Results from the challenge were presented at MICCAI 2023, featuring contributions from over 30 research groups worldwide. Prizes were awarded to the top three best-performing solutions.
      </p>

    </article>
    {% endif %}

    {% if page.profile2 %}
    <article>
      <div class="profile float-{%- if page.profile2.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile2.image %}
        {%- assign profile2_image_path = page.profile2.image | prepend: 'assets/img/' -%}

        {% if page.profile2.image_circular %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2024/en/">
          {% include figure.html
          path=profile2_image_path
          class=profile2_image_class
          alt=page.profile2.image -%}
        </a>
        {% endif -%}
        {%- if page.profile2.address %}
        <div class="address">
          {{ page.profile2.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2024/">Supervised and Semi-supervised Multi-Structure Segmentation and Landmark Detection in Dental Data</a>. The ToothFairy 2 Challenge, launched by the University of Modena and Reggio Emilia (UNIMORE) in collaboration with Radboud University Medical Center, focuses on multi-structure segmentation of CBCT maxillo-facial images. The goal is to segment various anatomical structures, including the Background, Jaws, Inferior Alveolar Canals, Maxillary Sinus, Pharynx, Bridges, Crowns, Implants, and Upper and Lower Teeth, while fostering international collaboration. Results from the challenge were presented at MICCAI 2024, featuring contributions from 26 research groups worldwide. Prizes were awarded to the top three best-performing solutions.
      </p>

    </article>
    {% endif %}
    {% if page.profile3 %}
    <article>
      <div class="profile float-{%- if page.profile3.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile3.image %}
        {%- assign profile3_image_path = page.profile3.image | prepend: 'assets/img/' -%}

        {% if page.profile3.image_circular %}
        {%- assign profile3_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile3_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://cvpr.thecvf.com/Conferences/2025">
          {% include figure.html
          path=profile3_image_path
          class=profile3_image_class
          alt=page.profile3.image -%}
        </a>
        {% endif -%}
        {%- if page.profile3.address %}
        <div class="address">
          {{ page.profile3.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/cvpr2025/">Multi-Structure and Multi-Modal Learning for 3D Dental Image Analysis</a>. The ToothFairy3 Workshop, a CVPR 2025 event, focuses on the latest challenges and advancements in 3D dental image analysis, specifically targeting techniques for CBCT and IOS modalities. The event brings together researchers, industry
        professionals, and practitioners to explore innovative solutions in areas like image registration, instance
        segmentation, and landmark detection. With a strong emphasis on collaborative insights, the workshop promotes discussion
        on performance evaluation and cutting-edge methodologies in dental imaging, featuring talks, challenges, and
        opportunities for networking.
      </p>

    </article>
    {% endif %}
  </div>
</div>

