---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <p>
    This is the landing page of the ToothFairy challenge:
  </p>

  <div class="clearfix">
    {% if page.profile %}
    <article>
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

        {% if page.profile.image_circular %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2023/en/">
          {% include figure.html
          path=profile_image_path
          class=profile_image_class
          alt=page.profile.image -%}
        </a>
        {% endif -%}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2023/">ToothFairy: A Cone-Beam Computed Tomography Segmentation Challenge</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Tincidunt dui ut ornare lectus sit amet. Et sollicitudin ac orci phasellus egestas tellus rutrum. Scelerisque in dictum non consectetur a erat.
      </p>

    </article>
    {% endif %}

    {% if page.profile2 %}
    <article>
      <div class="profile float-{%- if page.profile2.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile2.image %}
        {%- assign profile2_image_path = page.profile2.image | prepend: 'assets/img/' -%}

        {% if page.profile2.image_circular %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded-circle" -%}
        {% else %}
        {%- assign profile2_image_class = "img-fluid z-depth-1 rounded" -%}
        {% endif %}

        <a href="https://conferences.miccai.org/2024/en/">
          {% include figure.html
          path=profile2_image_path
          class=profile2_image_class
          alt=page.profile2.image -%}
        </a>
        {% endif -%}
        {%- if page.profile2.address %}
        <div class="address">
          {{ page.profile2.address }}
        </div>
        {%- endif %}
      </div>

      <p>
        <a href="https://toothfairychallenges.github.io/miccai2024/">Supervised and Semi-supervised Multi-Structure Segmentation and Landmark Detection in Dental Data</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Tincidunt dui ut ornare lectus sit amet. Et sollicitudin ac orci phasellus egestas tellus rutrum. Scelerisque in dictum non consectetur a erat.
      </p>

    </article>
    {% endif %}
  </div>
</div>

